---
layout: default
title: home
menu:
  main:
    identifier: _index
    url: "/"
    weight: 0
    title: Home
---

     {% include latest-posts.html %}
      <!-- Content -->
      <section class="content blog-standard">
        <div class="container relative">
          <div class="row">
            
            <!-- post content -->
            <div class="col-md-9 post-content mb-50">

              <!-- large post -->

              {% for post in site.posts limit: 1 %}
                  {% include large-post.html %}
              {% endfor %}
              <!-- end large post -->

              <!-- grid posts -->
              <div class="row items-grid">
              {% for post in site.posts limit: 4 offset: 1 %}
                    {% include small-grid-items.html %}
               {% endfor %}

              </div> <!-- end grid posts -->

              <!-- large post -->
              {% for post in site.posts limit: 1 offset: 4%}
                  {% include large-post.html %}
              {% endfor %}
              <!-- end large post -->

              <!-- grid posts -->
              <div class="row">
               {% for post in site.posts limit: 2 offset: 1 %}
                    {% include small-grid-items.html %}
               {% endfor %}
              </div> <!-- end grid posts -->
<!--
              <div class="row mt-20">
                <div class="col-md-12 text-center">
                  <a href="#" class="btn btn-md btn-stroke" id="load-more">Load More</a>
                </div>
              </div>
-->

            </div> <!-- end col -->
            
           {% include sidebar.html %}
      
          </div> <!-- end row -->
        </div> <!-- end container -->
      </section> <!-- end content -->


   