---
layout: default
title: home
menu:
  main:
    identifier: _index
    url: "/"
    weight: 0
    title: Home
---

     {% include latest-posts.html %}
      <!-- Content -->
      <section class="content blog-standard">
        <div class="container relative">
          <div class="row">
            
            <!-- post content -->
            <div class="col-md-9 post-content mb-50">

              <!-- large post -->

              {% for post in site.posts limit: 1 %}
                  {% include large-post.html %}
              {% endfor %}
              <!-- end large post -->

              <!-- grid posts -->
              <div class="row items-grid">
                <div class="col-sm-6">
                  <article class="entry-item">                                        
                    <div class="entry-img">
                      <a href="blog-single.html">
                        <img src="img/post_1.jpg" alt="">
                      </a>
                    </div>
                    <div class="entry-header">
                      <a href="#" class="entry-category">Lifestyle</a>
                      <h2 class="entry-title">
                        <a href="blog-single.html">missing the Bahamas</a>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">                                            
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <a href="#">August 30, 2016</a>
                            </li>                 
                            <li class="entry-comments">
                              <a href="blog-single.html">2 Comments</a>
                            </li>             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6">
                  <article class="entry-item">                                        
                    <div class="entry-img">
                      <a href="blog-single.html">
                        <img src="img/post_2.jpg" alt="">
                      </a>
                    </div>
                    <div class="entry-header">
                      <a href="#" class="entry-category">Travel</a>
                      <h2 class="entry-title">
                        <a href="blog-single.html">revolve in mexico</a>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">                                            
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <a href="#">August 30, 2016</a>
                            </li>                 
                            <li class="entry-comments">
                              <a href="blog-single.html">2 Comments</a>
                            </li>             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6">
                  <article class="entry-item">                                        
                    <div class="entry-img">
                      <a href="blog-single.html">
                        <img src="img/post_3.jpg" alt="">
                      </a>
                    </div>
                    <div class="entry-header">
                      <a href="#" class="entry-category">Travel</a>
                      <h2 class="entry-title">
                        <a href="blog-single.html">exploring Redwood</a>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">                                            
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <a href="#">August 30, 2016</a>
                            </li>                 
                            <li class="entry-comments">
                              <a href="blog-single.html">2 Comments</a>
                            </li>             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6">
                  <article class="entry-item">                                        
                    <div class="entry-img">
                      <a href="blog-single.html">
                        <img src="img/post_4.jpg" alt="">
                      </a>
                    </div>
                    <div class="entry-header">
                      <a href="#" class="entry-category">Lifestyle</a>
                      <h2 class="entry-title">
                        <a href="blog-single.html">Spring Inspiration</a>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">                                            
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <a href="#">August 30, 2016</a>
                            </li>                 
                            <li class="entry-comments">
                              <a href="blog-single.html">2 Comments</a>
                            </li>             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

              </div> <!-- end grid posts -->

              <!-- large post -->
              <article class="entry-item large-post">

                <div class="entry-header">
                  <a href="#" class="entry-category">Lifestyle</a>
                  <h2 class="entry-title">
                    <a href="blog-single.html">escape from reality</a>
                  </h2>
                </div>
                
                <a href="blog-single.html" class="entry-slider">
                  <div class="flexslider" id="flexslider">
                    <ul class="slides clearfix">
                      <li>
                        <img src="img/gallery_post_1.jpg" alt="">
                      </li>
                      <li>
                        <img src="img/gallery_post_2.jpg" alt="">
                      </li>
                      <li>
                        <img src="img/gallery_post_3.jpg" alt="">
                      </li>
                    </ul>
                  </div>
                </a> <!-- end slider -->

                <div class="entry-wrap">
                  <div class="entry">                    
                                        
                    <div class="entry-content">
                      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quisma bibendum auctor, nisi elit consequat ipsum, necsagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi acumsan ipsum velit. Nam nec tellusb a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent tacitioci Nullam ac urnaeu felis dapibus condi  entum sit amet a augue osqu ad litora torquent per conubia nostra, perada inceptos...
                      </p>
                      <div class="text-center">
                        <a href="blog-single.html" class="read-more underline-link">Read More</a>
                      </div>
                    </div>

                    <div class="entry-meta-wrap clearfix">
                      <ul class="entry-meta">
                        <li class="entry-date">
                          <a href="#">August 30, 2016</a>
                        </li>                 
                        <li class="entry-comments">
                          <a href="blog-single.html">2 Comments</a>
                        </li>             
                      </ul>

                      <div class="social-icons right">
                        <a href="#">
                          <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>                        
                        <a href="#">
                          <i class="fa fa-pinterest-p"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-heart"></i>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </article> <!-- end large post -->

              <!-- grid posts -->
              <div class="row">
                <div class="col-sm-6">
                  <article class="entry-item">                                        
                    <div class="entry-img">
                      <a href="blog-single.html">
                        <img src="img/post_6.jpg" alt="">
                      </a>
                    </div>
                    <div class="entry-header">
                      <a href="#" class="entry-category">Travel</a>
                      <h2 class="entry-title">
                        <a href="blog-single.html">Trip in Brazil</a>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">                                            
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <a href="#">August 30, 2016</a>
                            </li>                 
                            <li class="entry-comments">
                              <a href="blog-single.html">2 Comments</a>
                            </li>             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6">
                  <article class="entry-item">                                        
                    <div class="entry-img">
                      <a href="blog-single.html">
                        <img src="img/post_7.jpg" alt="">
                      </a>
                    </div>
                    <div class="entry-header">
                      <a href="#" class="entry-category">Travel</a>
                      <h2 class="entry-title">
                        <a href="blog-single.html">Happy Lifetime</a>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">                                            
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <a href="#">August 30, 2016</a>
                            </li>                 
                            <li class="entry-comments">
                              <a href="blog-single.html">2 Comments</a>
                            </li>             
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div> <!-- end grid posts -->

              <div class="row mt-20">
                <div class="col-md-12 text-center">
                  <a href="#" class="btn btn-md btn-stroke" id="load-more">Load More</a>
                </div>
              </div>


            </div> <!-- end col -->
            
           {% include sidebar.html %}
      
          </div> <!-- end row -->
        </div> <!-- end container -->
      </section> <!-- end content -->


   