<article class="entry-item large-post">
  <div class="entry-header">
    <a href="#" class="entry-category">Lifestyle</a>
    <h2 class="entry-title">
      <a href="{{ site.baseurl}}/{{ post.url }}">{{ post.title}}</a>
    </h2>
  </div>
  
  <div class="entry-img">
    <a href="blog-single.html">
      <img src="{{ site.baseurl}}/{{ post.image }}" alt="">
    </a>
  </div>

  <div class="entry-wrap">
    <div class="entry">                    
                          
      <div class="entry-content">
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quisma bibendum auctor, nisi elit consequat ipsum, necsagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi acumsan ipsum velit. Nam nec tellusb a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent tacitioci Nullam ac urnaeu felis dapibus condi  entum sit amet a augue osqu ad litora torquent per conubia nostra, perada inceptos...
        </p>
        <div class="text-center">
          <a href="{{ site.baseurl}}/{{ post.url }}" class="read-more underline-link">Read More</a>
        </div>
      </div>

      <div class="entry-meta-wrap clearfix">
        <ul class="entry-meta">
          <li class="entry-date">
            <a href="#">{{ post.date | date_to_string }}</a>
          </li>                 
          <li class="entry-comments">
            <a href="blog-single.html">2 Comments</a>
          </li>             
        </ul>

        <div class="social-icons right">
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>                        
          <a href="#">
            <i class="fa fa-pinterest-p"></i>
          </a>
          <a href="#">
            <i class="fa fa-heart"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
              </article>