 <!-- Latest Stories -->
      <section class="section-wrap latest-stories pb-0">
        <div class="container-fluid nopadding">

          <div class="heading-row text-center mb-40">
            <h2 class="heading uppercase small">Latest Stories</h2>
          </div>

          <div id="main-slider" class="flickity-slider-wrap">
          {% for post in site.posts  %}
            <div class="gallery-cell">
              <article>
                <a href="blog-single.html" class="entry-img">
                  <img src="{{ post.image }}" alt="">
                  <span class="entry-category">{{ post.categories[0] }}</span>
                </a>
                <div class="entry text-center">                  
                  <h4 class="entry-title uppercase"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                  <span class="entry-date">{{ post.date }}</span>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </section> <!-- end latest stories -->
