 <!-- Sidebar -->
            <aside class="col-md-3 sidebar">

              <div class="widget about-blog text-center">
                <div class="heading-lines">
                  <h3 class="widget-title heading">About Me</h3>
                </div>
                <img src="{{ site.baseurl}}/img/aboutsteph.jpg" alt="" class="side-about-img">
                <p class="mb-20 mt-30">Super interesting text here</p>
                <img src="{{ site.baseurl}}/img/signature.png" alt="">
              </div>

              <!-- Newsletter -->
              <div class="widget newsletter">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Newsletter</h3>
                </div>
                <form class="relative newsletter-form">
                  <input type="email" placeholder="Your email address">
                </form>
                <input type="submit" value="Subscribe" id="submit-button" class="btn btn-lg btn-color">
              </div>              

              <!-- Instagram Feed Grid -->
              <div class="widget instagram">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Instagram</h3>
                </div>
                <ul id="instafeed-grid"></ul>
              </div>

              <!-- Categories -->
              <div class="widget categories">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Categories</h3>
                </div>
                <ul class="list-dividers">
                {% for category in site.categories | limit: 4 %}
                  <li>
                    <a href="{{ site.baseurl}}/{{ category.first | downcase }}.html">{{category | first }}</a><span>({{category | last | size}})</span>
                  </li>
               {% endfor %}
                </ul>
              </div>

              <!-- Ad banner -->
              <div class="widget custom-ad-banner">
                <a href="#">
                  <img src="{{ site.baseurl}}/img/banner.jpg" alt="">
                </a>
              </div>

              <!-- Recent Posts -->
              <div class="widget recent-posts">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Recent Posts</h3>
                </div>
                <div class="entry-list w-thumbs">
                  <ul class="posts-list list-dividers">
                  {% for post in site.posts | limit: 4 %}
                    <li class="entry-li">
                      <article class="post-small clearfix">
                        <div class="entry-img">
                          <a href="{{ site.baseurl}}/{{ post.url }}">
                            <img src="{{ site.baseurl}}/{{ post.image }}" alt="">
                          </a>
                        </div>
                        <div class="entry">
                          <h3 class="entry-title"><a href="{{ site.baseurl}}/{{ post.url }}">{{ post.title }}</a></h3>
                          <ul class="entry-meta list-inline">
                            <li class="entry-date">
                              <a href="{{ site.baseurl}}/{{ post.url }}">{{ post.date | date_to_string }}</a>
                            </li>
                          </ul>
                        </div>
                      </article>
                    </li>
                    {% endfor %}
 
                  </ul>
                </div>
              </div>

              <!-- Latest Tweets -->
              <div class="widget categories">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Latest Tweets</h3>
                </div>
                <div class="twitter-slider text-center">
                  <i class="fa fa-twitter twitter-icon"></i>
                  <a href="https://twitter.com/deothemes">@deothemes</a>
                  <div id="tweets"></div>
                </div>
              </div>

            </aside> <!-- end sidebar -->