---
layout: default
---

 <!-- Content -->
      <section class="content post-single pt-70 pt-mdm-60">
        <div class="container relative">
          <div class="row">
            
            <!-- post content -->
            <div class="col-md-9 post-content mb-50">

              <!-- large post -->
              <article class="entry-item large-post">

                <div class="entry-header">
                  <a href="#" class="entry-category">{{ page.categories[0] }}</a>
                  <h1 class="entry-title">{{ page.title }}</h1>
                </div>
                
                <div class="entry-img">
                  <img src="{{ site.baseurl}}/{{ page.image }}" alt="">
                </div>

                <div class="entry-wrap">
                  <div class="entry">                    
                                        
                    <div class="entry-content">
                      <div class="article" itemprop="articleBody">
                          {{ content }}
                      </div>

                      <!-- tags -->
                      <div class="entry-tags tags mb-50 mt-40 clearfix">
                      {% for category in page.categories %}
                        <a href="#">{{category}}</a>
                        {% endfor %}
                      </div>

                      <div class="entry-meta-wrap clearfix">
                        <ul class="entry-meta">
                          <li class="entry-date">
                            <a href="#">{{page.date | date_to_string }}</a>
                          </li>                 
                          <li class="entry-comments">
                            <a href="blog-single.html">2 Comments</a>
                          </li>             
                        </ul>

                        <div class="social-icons right">
                          <a href="#"><i class="fa fa-instagram"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>                       
                          <a href="#"><i class="fa fa-pinterest-p"></i></a>
                          <a href="#"><i class="fa fa-heart"></i></a>
                        </div>
                      </div>

                      <!-- entry author -->
                      {% assign author = site.data.authors[page.author] %}
                      <div class="entry-author-box clearfix">
                        <img src="{{ site.baseurl}}/img/author.jpg" class="author-img" alt="img">
                        <div class="author-info">
                          <h6 class="author-name"><a href="#">{{author.name}}</a></h6>
                          <p class="mb-0">{{author.bio}}
                          </p>
                          <div class="social-icons">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                          </div>
                        </div>                        
                      </div>
                      
                      <!-- related posts -->
                      {% include related-posts.html%}

                      <!-- Comments -->
                      {% include comments.html %}
                       <!--  end comments -->

                    </div>
                  </div>
                </div>
              </article> <!-- end large post -->
            </div> <!-- end col -->
            
           {% include sidebar.html %}
      
          </div> <!-- end row -->
        </div> <!-- end container -->
      </section> <!-- end content -->
